<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="text-body-emphasis">Welcome to Kaushal Institute</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Empowering your career through precision and efficiency in stenography. Join us to excel in your stenography skills and achieve success in various competitive exams.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <a href="/contactus" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" role="button">
          Enroll Now
        </a>
      
      </div>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Address: 4th Floor, Uma Arcade, Circular Road, Beside Tanishq, Near Nucleus Mall, Nagra Toli Ranchi.
      </p>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Mobile: 09153108806
      </p>
    </div>
  </div>
  