<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="500">
  <div class="carousel-inner" style="height: 450px">
    <div class="carousel-item active" style="height: 100%;"> <img src="assets/images/pic1.jpeg"
        class="d-block w-100 h-100 " alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/pic2.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/3.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/4.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/5.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/6.jpeg" class="d-block w-100 h-100"
        alt="...">
    </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/7.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/8.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/9.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
    <div class="carousel-item" style="height: 100%;"> <img src="assets/images/10.jpeg" class="d-block w-100 h-100"
        alt="..."> </div>
  </div>

</div>

<div class="p-5 mt-1 mb-4 bg-body-tertiary rounded-3 shadow">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <span class="badge bg-primary text-white rounded-pill px-3 py-2">New</span>
      ADMISSION OPEN
    </h1>
    <p class="col-md-8 fs-4">Welcome to <strong>Kaushal Institute of Typing & Stenography Phase II</strong>.
      Congratulations to all our students who have successfully qualified for various competitive exams such as SCC
      Steno, Railway, and other posts.</p>
    <p class="col-md-8 fs-4">We offer comprehensive preparation for exams including SSC Steno, JSSC, All Courts, IB,
      CHSL, LDC, UDC, ASI (Steno), HC(M) in CRPF/CISF/ITBP, DRDO, and all other typing & steno related exams.</p>
    <p class="col-md-8 fs-4">Classes are held from Monday to Saturday, <strong>7 AM to 9 PM</strong>.</p>
    <p class="col-md-8 fs-4">Courses available include:</p>
    <ul class="col-md-8 fs-4">
      <li>Separate batches for beginners with Central Govt. registered certificate</li>
      <li>English/Hindi shorthand</li>
      <li>English/Hindi typing</li>
    </ul>
    <p class="col-md-8 fs-4">Guided by <strong>Abhishek Kaushal (Sir) & Neha (Mam)</strong>.</p>
    <p class="col-md-8 fs-4">Address: <strong>4th Floor, Uma Arcade, Circular Road, Beside Tanishq, Near Nucleus Mall,
        Nagra Toli Ranchi.</strong> Mobile: <strong>09153108806</strong></p>
    <a href="/contactus" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
      role="button">
      Enroll Now
    </a>
  </div>
</div>



<!-- Features Section -->
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Preparation for Exams</h2>
      <p>Get ready for various competitive exams including SSC Steno, JSSC, All Courts, IB, CHSL, LDC, UDC, ASI (Steno),
        HC(M) in CRPF/CISF/ITBP, DRDO, and all other typing & steno related exams. Our expert instructors will help you
        ace these exams with confidence.</p>
      <!-- <button class="btn btn-outline-light" type="button">Explore Exam Prep</button> -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <h2>Expert Instructors</h2>
      <p>Learn from the best in the field! Our institute boasts a team of experienced stenographers who will guide you
        through every step of your training journey. Get personalized attention and mentorship from industry experts.
      </p>
      <!-- <button class="btn btn-outline-secondary" type="button">Meet Our Instructors</button> -->
    </div>
  </div>
</div>

<!-- About Section -->
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h2 class="fw-bold">About Kaushal Institute of Typing & Stenography</h2>
    <p class="col-md-8 fs-4">Established with the vision of producing highly skilled and competent stenographers, our
      institute is committed to providing top-notch training and resources to help individuals excel in the field of
      stenography.</p>
    <p class="col-md-8 fs-4">We prioritize practical learning experiences and hands-on training sessions to ensure our
      students are well-prepared for real-world challenges. With state-of-the-art facilities and industry-relevant
      curriculum, we strive to set the standard for stenographer training.</p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Learn More About Us</button> -->
  </div>
</div>


<!-- Testimonials Section -->
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h2 class="fw-bold">Student Testimonials</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"I am incredibly grateful for the training I received at the stenographer training
              institute. The instructors were knowledgeable and supportive, and the hands-on experience helped me build
              confidence in my skills."</p>
            <p class="card-text"><small class="text-muted">- 22 Nidhi Kumari</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"The flexibility of the course schedule allowed me to balance my studies with my other
              commitments. I appreciated the variety of learning options available, including online classes and
              workshops."</p>
            <p class="card-text"><small class="text-muted">- Sourav Kumar</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"I have gone most of the shorthand class in Ranchi, but the guidance that Sir gives us
              I have not got anywhere else . So I can definitely say that this is the best shorthand class in Ranchi ."
            </p>
            <p class="card-text"><small class="text-muted">- Ritik kumar</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"I couldn't be happier with my decision to enroll in the stenographer training program.
              The curriculum was comprehensive, and the practical exercises were instrumental in honing my skills.
              Highly recommend!"</p>
            <p class="card-text"><small class="text-muted">- Netu Kumari</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"As a student if I want to give a review then I will say that this institute is the
              best shorthand institution in Ranchi." Teachers are well trained in the field of stenography and also very
              energetic. I m very grateful to be the part of this institute
              Thank you sir"</p>
            <p class="card-text"><small class="text-muted">- AYUSH AMAN</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">"Best Institute for Shorthand and Typing courses. The teachers are really supportive
              and guide each student effectively. It's rare to find such coaching centres in this era of high
              competition. I feel blessed to have their guidance in the pursuance of my course."</p>
            <p class="card-text"><small class="text-muted">- Priyanka</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>